<h1> Sikorskiy VS Kasparov </h1>
<table>
    <% 8.times do %>
      <tr>
        <% 8.times do %>
          <td>&#9823;</td>
        <% end %>
      </tr>
    <% end %>
</table>

<%= link_to 'Вернуться на главную', root_path %>